<div class="login-page">
  <div class="login-container mat-elevation-z4">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Logo -->
      <div class="text-center mb-4">
          <h1>Login</h1>
      </div>

      <!-- Email Field -->
      <mat-form-field appearance="fill" class="w-full mb-4">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Email" autocomplete="off" />
        <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
          <div *ngIf="email?.errors?.required">Email is required.</div>
          <div *ngIf="email?.errors?.email">Please enter a valid email address.</div>
        </mat-error>
      </mat-form-field>

      <!-- Password Field -->
      <mat-form-field appearance="fill" class="w-full mb-4">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Password" autocomplete="off" />
        <mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">
          <div *ngIf="password?.errors?.required">Password is required.</div>
        </mat-error>
      </mat-form-field>

      <!-- Submit Button -->
      <button mat-raised-button color="primary" type="submit" class="w-full" [disabled]="loginForm.invalid || isLoading">
        <span *ngIf="!isLoading">Sign In</span>
        <span *ngIf="isLoading">Loading...</span>
      </button>

      <!-- Error Message -->
      <div *ngIf="errorMessage" class="text-center text-red-500 mt-4">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
